body{
    font-family:sans-serif;
    margin:0;
    padding:0;
}
nav{
    padding:10px;
    border-bottom:1px solid #ccc;
}
#container{
    display:flex;
}
#sidebar{
    width:250px;
    padding:10px;
    border-right:1px solid #ccc;
}
#cardsContainer{
    flex:1;
    padding:10px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}
.card{
    padding:8px;
    box-sahadow:0 0 5px rgba(0,0,0,0.2);
}